a {
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#character-box {
  overflow-y: auto;
  max-height: 400px;
  flex: 0 0 300px;
  padding: 10px;
  background: rgba(0,0,0,0.2);
  border-radius: 12px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.character-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
    
  li:nth-child(odd) {
    background-color: #636161;
  } 

  a {
    margin: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    &:hover {
      text-shadow: 0 0 2px #feda4a, 0 0 5px #feda4a;
      transition: all 0.3s ease-in-out;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
    display: inline-block; 
  }
}

#bg-img {
  background-image: url("../images/star_wars_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
}

.lightbox {
  background: rgba(49, 49, 49, 0.9);
  backdrop-filter: blur(1px);
  width: min(90vw, 1100px);
  padding-top: 0;
  padding-left: 30px;
  margin-bottom: 50px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  display: flex;
  gap: 20px;
  position: relative;
}

.lightbox > section {
  flex: 0 0 500px;
  padding: 20px;
}

#info-box {
  flex: 1;
}

.logo {
  width: 300px;
  height: auto;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0 0 8px #feda4a);
}

#info-con {
  flex: 1;
  min-width: 300px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;

  .movie-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .movie-title {
      font-size: 24px;
      text-align: center;
      margin-top: 40px;
    }

    .movie-content {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: flex-start;
    }

    .movie-poster img {
      width: 100px;
      height: auto;
      border-radius: 12px;
      flex-shrink: 0;
      margin-top: 40px;
    }

    .movie-description {
      font-size: 14px;
      color: #fff;
      line-height: 1.5;
      text-align: left;
    }
  }
}


@media (max-width: 768px) {
  .lightbox > section {
    flex: 0 0 200px;
  }

  #info-con .movie-content {
    flex-direction: column;
    gap: 10px;
  }

  #info-con .movie-poster img {
    width: 120px;
  }
}